.info {
    margin-top: 50px;

    .infoBlocks {
        margin-top: 30px;

        h3 {
            font-size: 21px;
        }

        p {
            margin-left: 50px;
            margin-top: 20px;
        }
    }
}


.accordion-content {
    margin-top: 20px;
  

    .accordion-header {
        font-weight: 600;
    }
}